body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.ikon {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    
}

.nav-link {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    color: black;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 20px;
}

.article-but1 {
    text-decoration: none;
    background-color: #D50065;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but2 {
    text-decoration: none;
    background-color: #FF7600;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but3 {
    text-decoration: none;
    background-color: #01939A;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but4 {
    text-decoration: none;
    background-color: #7CB02C;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}


footer {
    display: flex;
    background-color: black;
    padding: 20px;
}

footer a {
    margin-right: 20px;
}

footer p {
    font-size: 24px;
    color: white;
}
